
<div class="search-component">
    <div class="textbox-wrap" *ngIf="search">
        <input #box placeholder="Search Products" (keyup.enter)="update(box.value)" (blur)="update(box.value)">
    </div>
    <div class="search-results" *ngIf="productSearchInput">
        <h2>You searched for: {{title}}</h2>
        <div class="product-line-item" *ngFor="let product of (products | productSearch : productSearchInput)">
            <p *ngIf="product === -1">No results found.</p>
            <ul class="item-master" *ngIf="product !== -1" (click)="onSelect(product)">
                <li>{{product.name}}</li>
                <li>${{product.price}}</li>
                
            </ul>
        </div>
    </div>
    <div class="item-detail" *ngIf="showProductDetails">
        <button (click)="searchProductType()">New Search</button>
        <h3>Details for {{theSelectedProduct.name}}</h3>
        <ul>
            <li>Product ID: {{theSelectedProduct.id}}</li>
            <li>Name: {{theSelectedProduct.name}}</li>
            <li>Type: {{theSelectedProduct.type}}</li>
            <li>Status: {{theSelectedProduct.status}}</li>
            <li>Price: ${{theSelectedProduct.price}}</li>
            <li>Product Description: {{theSelectedProduct.description}}</li>
            <li>Active Product: {{activeProduct}}</li>
        </ul>
    </div>
</div>